<!DOCTYPE html>

<html lang='en'>
    <head><meta charset="utf-8" /><title>haha</title></head>
    <body>
        <h1>Introduction</h1>

        <p>
        This article is a review of the book <i>Dietary Preferences of Penguins</i>, by Alice
        Jones and Bill Smith. Jones and Smith's controversial work makes three
        hard-to-swallow claims about penguins:
        </p>
        <ul>
        <li>First, that penguins actually prefer tropical foods such as bananas and
        pineapple to their traditional diet of fish</li>
        <li>Second, that tropical foods give penguins an odor that makes them unattractive
        to their traditional predators</li>
        </ul>
</body>
</html>